<!DOCTYPE html>
<html>
<head>
    <title>Would You Rather??</title>
    <script src="https://unpkg.com/vue@2.6.7/dist/vue.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Acme|Fresca" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div id="app">
      <h1>Would you rather...</h1>

      <would-you-rather-question
        v-bind:question="question"
        v-bind:answer1="answer1"
        v-bind:answer2="answer2"
        v-on:answer-changed="answerChanged">
      </would-you-rather-question>

      <br>

      <div id="selection">
        <h1>{{ userSelectionMessage }}</h1>
      </div>
    </div>

    <script>

      const WouldYouRatherQuestionComponent = {
        template: `
        <div>
          <h2>{{ question }}</h2>
          <input type="radio" v-model="choice" v-bind:value="answer1" v-on:change="$emit('answer-changed', choice)">
          <label>{{ answer1 }}</label>
          <input type="radio" v-model="choice" v-bind:value="answer2" v-on:change="$emit('answer-changed', choice)">
          <label>{{ answer2 }}</label>
        </div>
        `,
        data() { // for internal data that belongs to this component
          return {
            choice: ''
          }
        },
        props: { // props - for data passed in from parent component
          question: String,
          answer1: String,
          answer2: String
        },
      }

      let app = new Vue({
          el: "#app",
          data() {
              return {
                question: '... be a wizard or a superhero?',
                answer1: 'Wizard',
                answer2: 'Superhero',
                userSelectionMessage: ''
            }
          },
          methods: {
            answerChanged(ans) {
              console.log('Event emitted from child')
              this.userSelectionMessage = `Thanks! You picked ${ans}`
            }
          },
          /* ! Register all components in Vue instance ! */
          components: {
            'would-you-rather-question': WouldYouRatherQuestionComponent
          }
      })

    </script>

</body>

</html>
